extends ../layouts/default

block content
	.container: .jumbotron
		//img(src='/images/logo-vidyanusa.png', width='160')
		h1 Selamat Datang
		//p di Blognya Vidyanusa.
		//hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p
				| Log aktivitas
				.panel.panel-default
					.panel-body  "Gotong royong" - Ilham
				.panel.panel-default
					.panel-body  "Belajar bersama" - Ilham
